/* For Desktop */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900);

#clock {
    transform: scale(.8);
}

.header {
    background-color: #add8e6;
    padding: 10px;
    margin: 0;
    font-family: 'roboto';
    font-weight: 400;
}

.outer {
    position: relative;
    display: inline-block;
    left: 50%;
    margin-left: -300px;
    height: 600px;
    width: 600px;
    border: 1px solid rgba(225,119,3,.9);
    border-radius: 50%;
    background: 
    linear-gradient(
      to bottom, 
      rgba(253,155,18,.8) 0%, 
      rgba(255,42,4,.8) 73%, 
      rgba(253,125,45,.8) 100%
    );
    box-shadow:
      0px 0px 31px 2px rgba(255,119,3,.9), 
      inset 0px 0px 31px 2px rgba(255,119,3,.9);
  }
  
  .outer::after {
    content: '';
    position: absolute;
    z-index: 1;
    margin-top: -450px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 
      0px 0px 100px 2px rgba(255,119,3,1), 
      inset 0px 0px 100px 2px rgba(255,119,3,1);
    animation: shadowFade 4s infinite ease-in;
  }
  
  .inner {
    height: 350px;
    width: 500px;
    border: 1px solid rgba(225,119,3,.9);
    border-radius: 50%;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    background: 
    linear-gradient(
      to bottom, 
      rgba(253,125,45,.3) 0%, 
      rgba(255,42,4,.3) 73%, 
      rgba(253,125,45,.3) 100%
    );
    box-shadow: 
      0px 0px 31px 2px rgba(255,119,3,.9), 
      inset 0px 0px 31px 2px rgba(255,119,3,.9);
  }
  
  .most-inner {
    text-align: center;
    height: 175px;
    width: 400px;
    border: 1px solid rgba(225,119,3,1);
    border-radius: 125px;
    margin-top: 90px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 
      0px 0px 31px 2px rgba(255,119,3,.9), 
      inset 0px 0px 31px 2px rgba(255,119,3,.9);
    text-shadow: 
      0 0 5px #fff, 
      0 0 10px #fff, 
      0 0 7px #fff, 
      0 0 20px #88dfff, 
      0 0 35px #68ffc8, 
      0 0 40px #68ffc8, 
      0 0 50px #68ffc8, 
      0 0 75px #68ffc8;
    background: 
    /* On "top" */
    repeating-linear-gradient(
      45deg,
      transparent,
      transparent 4px,
      #171717 4px,
      black 8px
    ),
    /* on "bottom" */
    linear-gradient(
      to bottom,
      #171717,
      black
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .time {
    color: white;
    font-size: 70px;
    position: relative;
    display: block;
    margin-top: 45px;
  }
  
  .amPm {
    position: relative;
    display: block;
    width: 20px;
    margin-left: 312px;
    margin-top: -5px;
    color: white;
    font-size: 12px;
  }
  
  @keyframes blinking {
    0% {
      opacity: 0;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes shadowFade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.1;
    }
  }
  
  .blink {
    animation: blinking .5s infinite
  }

.bar {
    padding: 10px;
    background-color: lightgrey;
}

.nav {
    position: relative;
    padding-left: 40%;
}

.navigation a {
    color: black;
    display: inline;
    padding-right: 30px;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.navigation a:hover {
    color: orange;
}

.travel_packages {
    text-align: left;
    margin-left: 15px;
    color: black;
    font-size: 25px;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: left;
    color: black;
    font-size: 25px;
    font-family: Arial, sans-serif;
}

p.packages {
    text-align: left;
    margin-left: 15px;
    color: black;
    font-size: 17px;
    font-family: Arial, sans-serif;
}

p.og_price {
    color: gray;
    margin-left: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

p.diff_price {
    color: black;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

p.savings {
    color: green;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

p.copyright {
    color: white;
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin-top: 0;
    padding-bottom: 10px;
}

p.mega {
    color: white;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

p.email {
    color: white;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

div.logo {
    height: 200px;
    width: 600px;
    padding: 1px;
    border: none;
    margin: 0;
}

div.boxes {
    display: flex;
    flex-wrap: wrap;
}

.Resort {
    height: 450px;
    width: 300px;
    padding: 10px;
    border: 1px solid black;
    margin: 1% 0% 1% 1%;
    break-inside: avoid;
}

.Resort:hover {
    background-color: black;
    transition: 1.00s ease-in;
}

.Resort:hover h1 {
    color: white;
    transition: 1.00s ease-in;
}

.Resort:hover .diff_price {
    color: white;
    transition: 1.00s ease-in;
}

img {
    max-width: 100%;
    max-height: 100%;
}

body {
    background-color: white;
}

footer {
    padding: 10px 50px 50px 50px;
    background-color: black;
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .nav {
        position: relative;
        background-color: black;
        padding: 10px;
    }
    .navigation a {
        color: white;
        display: inline;
        padding-right: 30px;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        font-family: Arial, sans-serif;
    }
    .boxes {
        justify-content: center;
    }
}